<div class="container">
  <form class="row g-3 mt-3">
    <div class="col-sm-3">
      <input
        type="text"
        name="wish-item-name"
        id="wish-item-name"
        class="form-control form-control-lg"
        placeholder="Wish Item Description"
      />
    </div>

    <div class="col-sm-3">
      <input
        type="text"
        name="wish-item-start-date"
        id="wish-item-start-date"
        class="form-control form-control-lg"
        placeholder="Start Date (YYYY-MM-DD)"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
    </div>

    <div class="col-sm-3">
      <input
        type="text"
        name="wish-item-end-date"
        id="wish-item-end-date"
        class="form-control form-control-lg"
        placeholder="End Date (YYYY-MM-DD)"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
    </div>

    <div class="col-sm-2">
      <div class="form-check mb-0">
        <input
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="isChecked"
          id="status-checkbox"
          name="status-checkbox"
        />
        <label for="status-checkbox" class="form-check-label">Completed</label>
      </div>
    </div>

    <div class="col-sm-1 text-end">
      <button type="submit" class="custom-button">Add</button>
    </div>
  </form>
</div>
