input {
  size: 300px;
}
.custom-button {
  width: 160px;
  height: 50px;
  background-color: chartreuse;
  border-radius: 4px;
  font-size: large;
  text-decoration: solid;
}

.custom-button:hover {
  background-color: rgb(67, 133, 2);
}

h1 {
  text-decoration: solid;
  text-shadow: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
