<div class="container">
  <div *ngIf="wishlist.length === 0; else fullWishList">
    <p>No wishlist as of now!</p>
  </div>
  <ng-template #emptyWishList> </ng-template>
  <ng-template #fullWishList>
    <ul class="wish-list">
      <li class="wish-item" *ngFor="let wishItem of wishlist; index as idx">
        <div class="form-check">
          <label for="" class="form-check-lebel">
            <input
              type="checkbox"
              name="check-box"
              id="check-box"
              class="checkbox"
              [checked]="wishItem.isComplete"
              [attr.data-index]="idx"
              (click)="toggleWishList(wishItem)"
            />
            {{ idx }} - {{ wishItem.wishText }} --
            {{ wishItem.isComplete ? "Completed" : "Not Completed" }}
            <span *ngIf="wishItem.isComplete">
              {{ wishItem.completeDate | date }}
            </span>
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
