<div class="container">
  <div class="condition" *ngIf="wishlist.length === 0">
    <h3>No Wishlist as of now!</h3>
  </div>
  <ul class="wish-list" *ngIf="wishlist.length > 0">
    <li class="wish-item" *ngFor="let wishItem of wishlist">
      <div class="form-check">
        <label for="" class="form-check-lebel">
          <input
            type="checkbox"
            name="check-box"
            id="check-box"
            class="checkbox"
          />
          {{ wishItem.wishText }} | {{ wishItem.isComplete }} |
          {{ wishItem.completeDate | date }}
        </label>
      </div>
    </li>
  </ul>
</div>
