<div class="container" *ngIf="displayWishListItem().length > 0">
  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <select
        name="select-wish-list-status"
        id="select-wish-list"
        [(ngModel)]="selectedWishListItem"
      >
        <option value="0">All</option>
        <option value="1">Not Started</option>
        <option value="2">Completed</option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <ng-container>
        <div class="wish-item row p-2 border-top border-bottom">
          <div class="col-sm-1 fw-bold">Check</div>
          <div class="col-sm-1 fw-bold">Wish Id</div>
          <div class="col-sm-2 fw-bold">Wish Status</div>
          <div class="col-sm-4 fw-bold">Wish Description</div>
          <div class="col-sm-1 fw-bold">Wish Start</div>
          <div class="col-sm-1 fw-bold">Wish End</div>
          <div class="col-sm-1 fw-bold">Actions</div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <ng-container *ngFor="let wishItem of displayWishListItem()">
        <div class="wish-item row p-2 border-bottom">
          <div class="col-sm-1">
            <input
              type="checkbox"
              name="is-wish-item-completed"
              id="each-wish-item-{{ wishItem.wishId }}"
              [checked]="wishItem.isCompleted"
              (click)="onClickComplete(wishItem)"
            />
          </div>
          <div class="col-sm-1">{{ wishItem.wishId }}</div>
          <div class="col-sm-2">
            {{ wishItem.isCompleted ? "Completed" : "Not Completed" }}
          </div>
          <div class="col-sm-4">{{ wishItem.wishDesc }}</div>
          <div class="col-sm-1">{{ wishItem.startDate | date }}</div>
          <div class="col-sm-1">
            {{ wishItem.isCompleted ? (wishItem.completeDate | date) : "" }}
          </div>
          <div class="col-sm-1">
            <button
              class="btn btn-warning p-1 m-1"
              (click)="editWishItem(wishItem)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger p-1 m-1"
              (click)="deleteWishItem(wishItem)"
            >
              Delete
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-edit-wish-list
  *ngIf="isModalOpen"
  [wishItem]="currentWishItem"
  (itemUpdated)="onItemUpdated($event)"
  (close)="closeModal()"
>
</app-edit-wish-list>
